.titular{
    color: white;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
.Home{
    background-image: url('https://media.istockphoto.com/id/1360927961/es/foto/fondo-abstracto-con-entrelazamiento-de-l%C3%ADneas-y-puntos-de-colores-estructura-de-conexi%C3%B3n-de.jpg?s=170667a&w=0&k=20&c=1vCyFnPsX5wcboLHnxHr5JvP8LOBkO7_SzoIiazUedY=');
}